@{
    ViewData["Title"] = "About us";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>@ViewData["Title"]</h1>

<div>
    <p>This is a business application for "Imperial Cars" dealership employees.</p>
    <p>Our address: 821 Tyburn Rd, Birmingham B24 9NY, Great Britain</p>
    <p>Phone number: +443301781672</p>
    <p>If you find a bug, you can report it to our IT department via email: itdep@imperial-cars.com</p>
    <img src="~/image/car_showroom.jpg" asp-append-version="true" width="800px" />

</div>
